/*================GOOGLE FONTS================*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
/*=============== VARIABLES CSS ===============*/
$padding: 1.5rem;
$borderRadius: $padding+10rem;

//objects with colors;
$colors: (
    black: rgb(17, 17, 17),
    text-black: rgb(0, 0, 0),
    grey: rgba(105, 105, 105, 0.884),
    white: #fff,
    text-gray: rgb(128, 128, 128),
    bg-gray: #F7F7FC
);


//function that reutrns the collors
@function color($color-name) {
    @return map-get($colors, $color-name);
}

//For responsivnes
$large-desktop: 1280px;
$desktop: 840px;
$mobile: 540px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

:root {

    /*============Font and Typography*===============*/
    --header-font: 'Raleway', sans-serif;
    --body-font: 'Nunito Sans', sans-serif;
    --logo-font: 'Plus Jakarta Sans', sans-serif;
    ;
    --normal-font-size: 1rem;
    --small-font-size: .6rem;
    --smaller-font-size: .5rem;

    /*============Transition*===============*/
    --transition: all .3s cubic-bezier(0.95, 0.42, 0.12, 0.57);

}